/* Header.css */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 60;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.header.hidden {
  transform: translateY(-100%);
  opacity: 0;
}
