<IfModule mod_headers.c>
  RewriteEngine On
  RewriteBase /subdirectory/static
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
   
  </IfModule>
  
   <If "%{REQUEST_URI} =~ /products.json$|journals.json$/">
      Header set Cache-Control "private"
    </If>